body{
    padding: 3%;
    text-align:right;
}

footer {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    width:90%;
}
footer h2 {
    display:inline;
}

footer span.bullet {
    font-size: 26px;
}

h1 {
    font-size:32px;
}

h2 {
    font-size:26px;
}

iframe{
    border: 0;
    margin-top: 50px;
}

.article-container{
    margin-top: 50px;
}

.fa-eye-slash{
    color:red;
}

.toggle-question-visibility{
    cursor: pointer;
}

#new-answer.for-editors:hover span {
    display:none;
}

#new-answer.for-editors:hover:before{
    content:"+ לחץ כדי להוסיף תשובה חדשה";
    color:grey;
    text-decoration: underline;
    cursor: pointer;
}

#tips u:hover + ol {
    display:block;
}

#tips ol{
    display:none;
}